input[type="text"]:focus {
    outline:none;
}

.landingContainer {
    color: #FFFFFF;
    margin-top: 150px;
    margin-left: 100px;
    width: 60%;
}

.melodyLogo {
    font-size: 60px;
    font-weight: 500;
}

.discoverLogo {
    font-size: 25px;
    font-weight: 300;
    opacity: 0.8;
}

.signUpForm {
    margin-top: 30px;
}

.usernameText, .passwordText {
    padding: 20px 30px;
    margin-top: 5px;
    border: 2px solid #616161;
    border-radius: 3px;
    width: 35%;
    font-size: 20px;
}

.usernameText {
    /* border-bottom: 0 none; */
}

.rememberCheck {
    margin-top: 20px;
}

.loginSubmit {
    -webkit-appearance: none;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 40px;
    border: 0 none;
    border-radius: 5px;
}

.signUpSubmit {
    margin-left: 50px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 200;
    border: 0 none;
    border-radius: 5px;
}
