.containerBody {
    height: 100%;
}

.backgroundBody {
    opacity: 1;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.darkenBackground {
    /* background-color: #9E9E9E; */
    width: 100%;
    opacity: 0.8;
}
