html, body {
    height: 100%;
    width: 100%;
    min-width: 350px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* background-image: url(./assets/PurpleNotes.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background: #000000; */
}

.root {
    height: 100%;
}
